@import "./dark";

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMonoBold.woff2");
    font-weight: bold;
}

* {
    font-family: JetBrainsMono, "Courier New", Courier, monospace;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    padding: 1rem;

    .spacer {
        flex-grow: 1;
    }

    ul {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
    }
}

.icon img {
    height: 1.4rem;
}

.socials {
    .icon {
        display: initial;
    }
    .text {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .socials {
        .icon {
            display: none;
        }
        .text {
            display: initial;
        }
    }
}

