// colors:
// dark colors
$dark_background: #202a31;
$dark_foreground: #abb0c0;

// Normal colors
$dark_black: #202a31;
$dark_red: #c17b8d;
$dark_green: #7d9761;
$dark_yellow: #b28761;
$dark_blue: #5496bd;
$dark_magenta: #9b85bb;
$dark_cyan: #459d90;
$dark_white: #abb0c0;

// Bright colors
$dark_bright_black: #898f9e;
$dark_bright_red: #c17b8d;
$dark_bright_green: #7d9761;
$dark_bright_yellow: #b28761;
$dark_bright_blue: #5496bd;
$dark_bright_magenta: #9b85bb;
$dark_bright_cyan: #459d90;
$dark_bright_white: #c5cbdb;

// light colors
$light_background: #fff8e7;
$light_foreground: #485a62;

// Normal colors
$light_black: #fff8e7;
$light_red: #c44756;
$light_green: #1f8332;
$light_yellow: #916d03;
$light_blue: #0075c9;
$light_magenta: #a154ae;
$light_cyan: #007f8a;
$light_white: #485a62;

// Bright colors
$light_bright_black: #63757e;
$light_bright_red: #c44756;
$light_bright_green: #1f8332;
$light_bright_yellow: #916d03;
$light_bright_blue: #0075c9;
$light_bright_magenta: #a154ae;
$light_bright_cyan: #007f8a;
$light_bright_white: #364850;
