<div>

  <div class="navbar">
      <div class="navigation">
      <ul>
          <li>
    <a href="<%= config.root %>">
      <%= theme.title %>
    </a>
          </li>
   <% for (name in theme.nav) { %>
          <li>
     <a href="<%- url_for(theme.nav[name]) %>"><%- name %></a>
          </li>
   <% } %>
      </ul>
  </div>

</div>
