@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono.woff2");
}
* {
  font-family: "JetBrainsMono", "Courier New", Courier, monospace;
}

body {
  background-color: #202a31;
  color: #abb0c0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline wavy #5496bd;
}

.navbar {
  background-color: #b28761;
  color: #202a31;
}

.content {
  max-width: 600px;
  margin: auto;
}

.navbar ul {
  display: inline-block;
  list-style: none;
}
.navbar li {
  display: inline-block;
}

